spring:
  application:
    name: ts-station-service
  datasource:
    url: jdbc:mysql://ts-station-mysql:3306/ts-station-mysql?useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
# HTTP Server
server:
  port: 12345  # HTTP (Tomcat) port

swagger:
  controllerPackage: fdse.microservice